.kitchen__nav {
  background-color: var(--second-color);
  position: sticky;
  position: relative;
  right: 0;
  height: 100vh;
  width: 20vw;
}

.kitchen-basic {
  background-color: var(--second-color);
  height: 100vh;
  
}
